@model IEnumerable<HotelManagementSystem.Model.Rooms>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Static Navigation</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Static Navigation</li>
    </ol>


    <button id="ActionButton" data-herf="@Url.Action("Action","Rooms")" type="button" class="data-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#Action">
        新增
    </button>

    <div class="modal fade" id="Action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">

        </div>
    </div>


    @{ 
        Html.RenderPartial("_Listing", Model);
    }

   
    <div style="height: 100vh"></div>
    <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
</div>
<script>
    $("#ActionButton").click(function () {
        $.ajax({
            url: "@Url.Action("Action","Rooms")",
            type: "get",
        }).done(function (respone) {
            $("#Action .modal-dialog").html(respone);
        })
    })
</script>